.download,
#salary_calc a,
div[id^="xlsx"] a {
    display: inline-block;
    background-color: #325cea;
    font-size: 16px;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 10px 10px;
}

div[id^="xlsx"] {
    display: inline-block;
}

div[id^="xlsx"] input {
    height: 40px;
}

#xlsx_template_1 input {
    width: 500px;
}

/* End-25-2025.05.22.152442 */
